<form action="" method="POST" id="formsearch">
  <div class="form-group">
    <label for="exampleInputEmail1">Tìm kiếm</label>
    <input type="text" class="form-control" name="id" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NHập từ khóa tim kiếm">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Gender</label>
    <select class="form-control" name="gender" id="formsearch">
      <option value="1">Chọn giới tính</option>
      <option value="2">Nam</option>
      <option value="3">Nữ</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>